# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Entorno virtual
venv/
__pycache__/
*.pyc

# Base de datos
*.db

# Descargas
descargas/

# Archivos de configuración local
.env
config.py

# IDE
.vscode/
.idea/